body {
	font-family: verdana,sans-serif; 
	color: #000; 
	background-color:#A7AEB4;
}

/* perl.nl style media all */

h1 { font-size: 18px; color: #048; }
h2 { font-size: 150%; font-weight: bold; color: #048; padding: 15px 0px; }
h3 { font-size: 120%; font-weight: bold; padding: 10px 0px 5px 0px; }
h4 { font-size: 100%; font-weight: bold; padding: 10px 0px 5px 0px; }
h5 { font-size:  90%; font-weight: bold; padding: 10px 0px 5px 0px; }
p, ul { line-height: 150%; }
ul { padding: 0px 0px 0px 15px; }

a:link 		{ color: #048; }
a:visited   { color: #E00; }

.altcolors a:link 		{ color: #004488; }
.altcolors a:visited 	{ color: #2e557d; }

#sidebar h2 { color: #E00; }

/* from screen css */
h1, h2 {
  font-variant: normal !important;
}

h2 {
		font-size: 1.2em;
}

td {
  padding:0 0.5em;
}